#TODO - look into building .apk on the fly
#:apk: 'YOUR ANDROID APPLICATION PACKAGE'
#:apk_path: 'PATH TO YOUR ANDROID APK'
#:android_package: "YOUR APPLICATION'S PACKAGE"
#:android_activity: "YOUR APPLICATION'S MAIN ACTIVITY"
#E.G.:
#:apk: 'app-KHON-debug-unaligned.apk'
#:apk_path: '/Users/mdavalos/Downloads/app-KHON-debug-unaligned.apk'
#:android_package: 'com.linmedia.newstouch.khon'
#:android_activity: 'com.mobiquity.linmedia.app.SplashActivity'